@import "../../global.scss";

.skills{
    background-image: $gradient_background;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: $h2_40;
        margin-top: 70px;
        margin-bottom: 30px;
        color: $secondary;
        font-weight: 400;
        
        @include mobile {
            font-size: $h3_30;
        }
        
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 80px;

        @include mobile {
            flex-direction: column;
            padding-block: 0;
        }
    }
}