@import "../../global.scss";

.skills{
    background-color: $mainColor;
    color: $onMain;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: $h2_40;
        margin: 0;
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}