@import "../../global.scss";

.about{
    background-color: $mainColor;
    color: $onMain;
    display: flex;
    flex-direction: column;

    h1{
        font-size: $h1_60;
        text-align: center;
        margin: 0;
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;

        .left{
            flex: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                font-size: $h4_20;
                line-height: 3rem;
                letter-spacing: 0.15rem;
                max-width: 55ch;
                text-align: justify;
            }
        }

        .right{
            flex: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 95%;
            }

        }
    }
}