@import "../../global.scss";

.about {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: $h2_40;
    margin-top: 70px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #1f2937;

    @include mobile {
      font-size: $h3_30;
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 15%;
      @include mobile {
        width: 150px;
      }
    }

    p {
      font-size: $body_16;
      line-height: 3rem;
      font-weight: 300;
      max-width: 75ch;
      margin-block: 10vh;
      text-align: center;
      text-size-adjust: 100%;
      color: $onMain;

      @include mobile {
        line-height: 2.5rem;
        max-width: 90%;
        padding: 4rem 3rem;
      }
    }
  }
  .custom-shape-divider-bottom-1636033096 {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    background-color: #392D71;
    overflow: hidden;
    line-height: 0;
    // transform: translate(0, 50px);
    
    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 40px;
    }
    .shape-fill {
      fill: #ffffff;
    }
  }
}
