@import "../../global.scss";

.portfolioModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }

  .container {
    width: 650px;
    height: 90%;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    animation: modalScale 0.35s linear;
    -webkit-animation: modalScale 0.35s linear;
    -moz-animation: modalScale 0.35s linear;
    @include mobile {
      width: 350px;
    }

    .header {
      width: 100%;
      height: 6rem;
      padding: 2em 2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $onMain;
      box-sizing: border-box;
      border-bottom: 0.5px solid rgba(133, 130, 130, 0.712);

      label {
        font-size: $h4_20;
        font-weight: 600;

        @include mobile {
          font-size: $subtitle_16;
        }
      }

      .close_icon {
        font-size: $h3_30;
        cursor: pointer;

        @include mobile {
          font-size: $h4_20;
        }
      }
    }

    .imgContainer {
      width: 600px;
      height: 337.5px;
      margin-top: 20px;

      @include mobile {
        width: 350px;
        height: 196.88px;
      }
    }

    .description-container {
      width: 600px;
      margin-top: 50px;
      // display: flex;
      // flex-direction: column;
      // flex-wrap: nowrap;

      @include mobile {
        width: 300px;
      }

      > * {
        margin-bottom: 20px;
      }

      h5 {
        font-size: $subtitle_16;
      }

      p {
        font-size: 1.4rem;
        max-width: 70ch;
        line-height: 2.5rem;
      }

      a {
        font-size: 1.4rem;

        @include mobile {
          font-size: 1rem;
        }
      }
    }
  }
}

@keyframes modalScale {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
