@import "./global.scss";

.app{
    height: 100vh;

    .sections{
        width: 100vw;
        height: calc(100vh - 70px); //-70 px which wiil be taken by the navbar
        position: relative;
        top: 70px;
        overflow-x: hidden;
        scroll-behavior: smooth; //scrolls it smoothly and clicking a link will go to that page smoothly
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        // hide the scroll bar for all browsers
        &::-webkit-scrollbar{
            display: none;
        }

        @include mobile {
            scroll-snap-type: none;
        }


        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;

            @include mobile {
                scroll-snap-align: none;
                &:nth-child(3){
                    height: 250vh;
                }
            }
    
        }
    }
}