$mainColor: #ffff;

$onMain: #121212;

$navBarColor: #ffff;

$navBarTextColor: #121212;

$menuColor: #121212;

$menuTextColor: #ffff;


$width: 768px;


@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}